*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", serif;
}
/* header start */
header{

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.logo{

}
.logo img{
    width: 100px;
    cursor: pointer;
}
.menu{

}
.menu a{
    text-decoration: none;
    font-size: 18px;
    color: #22262A;
    text-transform: uppercase;
    margin-right:40px
}
.icons{

}
.icons i{
    margin-right: 20px;
    cursor: pointer;
}

/* banner start */
    .banner{
        background-image: url(../img/banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 745px;
        padding: 130px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 130px;
    }
    .b-img{

    }
    .b-img img{

    }
    .b-content{
         
        margin-right: 100px; 
    }
    .b-content h4{
        font-size: 18px;
        font-weight: 500;
        color: #22262A;
    }
    .b-content h2{
        font-size: 80px;
        color: #22262A;
    }
    .b-content p{
            font-size: 18px;
            color: #22262A;
            font-weight: 500;
            margin-bottom: 30px;
    }
    .discover{
        font-size: 18px;
        font-weight: 500;
        color: white;
        background-color: #22262A;
        padding: 4px 18px;
        cursor: pointer;
    }
    .shop-now{
        font-size: 18px;
        font-weight: 500;
        color: white;
        background-color: #22262A;
        padding: 4px 18px;
        cursor: pointer;
    }
/* banner end */

/* header end */

/* category start */
.category{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}
.category-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;

}
.first-column{}
.first-column img{}
.item{
    display: flex;
    gap: 30px;
    margin-top: 15px;
}
.item-1{}
.item-1 img{}
.second-column{
  display: flex;
  align-items: flex-end;
   height: 574px;
    background-image: url(/img/second-img.png);
    background-repeat: no-repeat;
   
}
.second-column a{
    background-color: white;
    padding: 4px 18px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 52px;
    margin-bottom: 30px;
    cursor: pointer;
}
/* category end */